
<html>

<body>

<p>
	BlueNet is a wireless ad hoc network solution built upon Bluetooth Low Energy. This solution relies on the Bluetooth Generic Attribute Profile (GATT) and contains a series of protocols for multi-hop communications. BlueNet is designed with special consideration in off-the-grid network and emergency communications, and it enables dynamic and automatic network formation among BLE-equipped devices (e.g., phones, tablets, smart watches, etc). 
</p>

<p>
	The Dispatch App is an Android Messaging App that implements BlueNet, intended for scenarios where the Internet access is out of reach, for instance, in the aftermath of earthquakes, hurricanes, and other disasters. Users can find nearby users or resources on the map view of the Dispacth app and text to others for help or informaiton. The Dispatch App is compatible with most Android devices on the market (running Android 6.0 and above and supporting Bluetooth 4.1 and above).
</p>

<h2>Use Cases & Social Impacts</h2> 

<p align="center">
<img src="../BlueNet_Project/assets/img/disaster.png" alt="disasters" height="300px"/>
</p>

<p>
	This solution could be most useful in a city during an emergency situation in which infrastructure services such as cellular communication could be unavailable and P2P WiFi does not provide sufficient coverage. A distributed group of rescuers could maintain communication between each other, passing along points of interest, and otherwise coordinating a rescue effort. Since BlueNet is built for consumer electronics like smartphones and tablets, the usage of BlueNet need not be restricted to rescuers. People trying to communicate (to find services, loved ones, etc.) can also leverage BlueNet’s chat app to stay connected. The environment type in which we view BlueNet being most useful has not changed since our Design Concept.

</p>

<p align="center">
<img src="../BlueNet_Project/assets/img/dispatch_app.png" alt="dispatch_app" height="300px"/>
</p>

<p>
	As our BlueNet prototype has been developed on Android smartphones and tablets, it is fair to say that we have taken a solid step toward tailoring our prototype to our intended user group of emergency responders and people with mobile devices. Smartphones have become an essential part of our lives and access to communication and coordination services after a disaster will be essential. BlueNet will allow users to coordinate rescue or distribution operations, find people in need, communicate with family members and friends, find much needed resources, etc. The simplicity of the proposed solution will make its potential deployment and use very effective, thereby also maximizing its potential societal impact.

</p>



</body>
</html>





<!-- The homepage content can be edited as markdown in _includes/index.html or directly within the index.html file. -->

